@import "reset.css";
@import "http://fonts.googleapis.com/css?family=Droid+Sans";

body {
	background-color: #000;
	color: #fafefa;
	font: 16px/27px 'Droid Sans', arial, serif;
}
h1#ssLogo {
	background-color: rgba(0,0,0,0.5);
	padding: 10px;
	display: inline-block;
	margin: 70px 10px 0px 40px;
	color: #fff;
	float:left;
	position:absolute;
}
#ssBg {
	position:fixed;
	top:0px;
	z-index:-1;
}
#ssNavi {
	display: inline-block;
	float:right;
	margin: 70px 30px 0px 0px;
}
#ssNavi li {
	margin: 0px 10px 0px 0px;
	background-color: rgba(0,0,0,0.5);
	padding: 10px;
	display: inline-block;
	list-style-type:none;
	cursor: pointer;
}